# configuration for the database
# Do not commit changes to this file unless it is for new configuration properties.
databaseConfig:
  host: localhost
  instance: SQLEXPRESS
  dbname: OpenKO
  port: 1433
  user: YourUser (Leave Blank for Windows Auth)
  password: YourPassword

# schema-based configuration, mainly to configure the path to your OpenKO-db project directory
schemaConfig:
  dir: ../OpenKO-db